@using System.Configuration
@using WebshopThiso.Controllers

@{
         ViewData["Title"] = "Home Page";
      
}
<div class="container" id="rubberduck">
    <h1> welcome to Thiso</h1>  <br>
    <img src="images/rubber_duck.jfif"/>
    
    <h3>
        what can you buy here?
    </h3>
    <h5> Here you can buy toys for your pets. Everything what you need.</h5>
</div>
